.slider-image {
    position: relative;
    width: 100%;
    height: 100vh;

    img {
        width: 100%;
        height: 100vh;
    }

    .slider-text {
        color: var(--white);
        position: absolute;
        top: 50%;
        left: 50%;
        text-align: center;
        width: 50%;
        margin: auto;
        transform: translate(-50%, -50%);

        h1 {
            font-size: 54px;
        }

        p {
            font-size: 24px;
            line-height: 30px;
            padding: 15px 0;
        }

        .get-involved {
            a {
                background-color: var(--brand-green);
                color: var(--white);
                padding: 18px 40px;
                border-radius: 50px;
                font-size: 18px;
                display: inline-block;
            }
        }
    }
}



.organic-farming-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 70px;

    .organic-farming-image {
        width: 47%;
        display: block;

        img {
            width: 100%;
        }
    }

    .organic-farming {
        width: 50%;

        h2 {
            font-size: 36px;
            width: 70%;
        }

        p {
            font-size: 18px;
            line-height: 25px;
            padding: 20px 0;
            width: 80%;
        }

        ul {
            li {
                display: flex;
                align-items: center;

                img {
                    width: 28px;
                }

                p {
                    font-size: 18px;
                    padding: 10px 10px 0;

                }

            }
        }

        a {
            font-size: 18px;
            background-color: var(--brand-green);
            color: var(--white);
            padding: 16px 40px;
            border-radius: 50px;
            display: inline-block;
            margin-top: 20px;
            transition: 0.5s all ease;

            &:hover {
                background: var(--black-hover);
            }
        }
    }
}


.our-product-background {
    background-image: url(../images/product-background-image.png);
    width: 100%;
    background-size: cover;
    position: relative;
    margin-top: 70px;
    background-attachment: fixed;

    .our-product-overlay {
        background-color: var(--black-rgba);
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        width: 100%;
    }

    .our-product {

        ul {
            display: flex;
            justify-content: space-evenly;
            padding: 100px 0;



            li {
                width: calc(25% - 20px);
                text-align: center;
                z-index: 1;

                h2 {
                    font-size: 54px;
                    color: var(--brand-green);
                }

                p {
                    font-size: 18px;
                    color: var(--white);
                }
            }
        }
    }
}



.bloom-day {
    text-align: center;
    padding-top: 70px;

    h2 {
        font-size: 42px;
    }

    p {
        font-size: 18px;
        font-weight: 400;
        padding: 12px 0;
        width: 80%;
        margin: auto;
        line-height: 25px;
    }

    ul {
        display: flex;
        justify-content: space-between;
        padding-top: 25px;

        li {
            width: calc(33% - 20px);
            text-align: left;
            background: var(--white);
            box-shadow: var(--bloom-box-shadow);
            border-radius: 20px;
            padding-bottom: 15px;

            .bloom-image {
                img {
                    width: 100%;
                }
            }

            .bloom-text {
                padding: 20px;

                h3 {
                    font-size: 24px;
                }

                p {
                    font-size: 18px;
                    text-align: left;
                    margin: 0;
                    width: 73%;
                    line-height: 22px;
                    padding: 10px 0;
                }

                a {
                    font-size: 18px;
                    font-weight: 400;
                    color: var(--black);
                    border-bottom: 1px solid var(--black);
                    padding-bottom: 7px;
                    transition: 0.5s all ease;

                    &:hover {
                        color: var(--brand-green);
                        border-color: var(--brand-green);
                    }

                }
            }
        }
    }
}

.video {
    padding-top: 70px;
    margin-top: 100px;
    width: 100%;
}



.agriculture-background {
    background-image: url(../images/slider-image.png);
    width: 100%;
    background-size: cover;
    height: 400px;
    position: relative;
    margin-top: 70px;

    .agriculture-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);


        img {
            width: 80px;
            display: block;
            margin: auto;
        }

        h2 {
            font-size: 42px;
            width: 60%;
            margin: auto;
            text-align: center;
            padding-top: 20px;
            color: var(--white);
        }
    }
}



.explor-project {
    text-align: center;
    padding-top: 70px;

    h2 {
        font-size: 42px;
    }

    p {
        font-size: 18px;
        width: 65%;
        margin: auto;
        line-height: 25px;
        padding: 12px 0;
    }

    ul {
        display: flex;
        justify-content: space-between;
        padding-top: 25px;

        li {
            width: calc(33% - 20px);
            position: relative;
            transition: 0.5s all ease;

            &:hover {
                .explor-project-overlay {
                    visibility: visible;
                    opacity: 1;
                }
            }

            img {
                width: 100%;
                height: 500px;
                display: block;
                border-radius: 20px;
            }

            .explor-project-overlay {
                position: absolute;
                background-color: var(--black-rgba);
                top: 0;
                left: 0;
                bottom: 0;
                width: 100%;
                border-radius: 20px;
                visibility: hidden;
                opacity: 0;
            }

            .exolor-text {
                z-index: 1;
                position: absolute;
                bottom: 25px;
                left: 50%;
                left: 50%;
                width: 100%;
                transform: translate(-50%, 0);

                h3 {
                    font-size: 18px;
                    background-color: var(--white);
                    padding: 15px 25px;
                    border-radius: 50px;
                    display: inline-block;
                    transition: 0.5s all ease;

                    &:hover {
                        background-color: var(--brand-green);
                        color: var(--white);
                    }
                }
            }


        }
    }
}



.field-sales-background {
    background-image: url(../images/slider-image.png);
    width: 100%;
    background-size: cover;
    margin-top: 70px;
    padding: 100px 0;
    height: 500px;

    .field-sales {
        text-align: center;
        color: var(--white);

        img {
            width: 50px;
            margin: auto;
        }

        p {
            font-size: 18px;
            line-height: 25px;
            padding: 20px 0;
            width: 65%;
            margin: auto;
            font-weight: 400;
        }

        h4 {
            font-size: 32px;
            width: 15%;
            line-height: 50px;
            margin: auto;
        }
    }
}



.our-team {
    text-align: center;
    padding-top: 70px;

    h2 {
        font-size: 42px;
    }

    p {
        font-size: 18px;
        font-weight: 400;
        padding: 12px;
        line-height: 25px;
        width: 85%;
        margin: auto;
    }

    ul {
        display: flex;
        justify-content: space-between;
        padding-top: 25px;

        li {
            width: calc(25% - 20px);
            text-align: left;
            background-color: var(--white);
            box-shadow: var(--our-team-shadow);
            border-radius: 20px;

            img {
                width: 100%;
            }

            .team-text {
                padding: 20px 20px 32px;

                span {
                    font-size: 20px;
                    font-weight: 500;
                }

                h3 {
                    font-size: 24px;
                    padding: 10px 0;
                }

                a {
                    color: var(--black);
                    font-size: 20px;
                    padding: 0;
                    margin: 0;
                    border-bottom: 1px solid var(--black);
                    padding-bottom: 5px;
                    font-weight: 500;
                    transition: 0.5s all ease;

                    &:hover {
                        color: var(--brand-green);
                        border-color: var(--brand-green);
                    }
                }
            }
        }
    }
}



.get-touch-background {
    background-image: url(../images/slider-image.png);
    width: 100%;
    background-size: cover;
    height: 500px;
    margin-top: 70px;
    background-attachment: fixed;
    padding-top: 16%;
}


.get-touch {
    background-color: var(--white);
    border-radius: 30px;
    --our-team-shadow: 0px 4px 4px 4px rgba(0, 0, 0, 0.25);
    box-shadow: var(--our-team-shadow);
    padding: 50px;
    text-align: center;
    width: 58%;
    margin: auto;
    margin-top: -200px;

    h2 {
        font-size: 42px;
    }

    p {
        font-size: 18px;
        font-weight: 400;
        width: 88%;
        margin: auto;
        line-height: 25px;
        padding: 20px 0;
    }

    .get-touch-name input {
        padding: 20px;
        width: 46%;
        border-radius: 50px;
        border: none;
        background: var(--get-tuch-color);
        margin: 10px;
        outline: none;
    }

    .get-touch-message {
        textarea {
            padding: 30px 15px;
            border-radius: 20px;
            background: var(--get-tuch-color);
            border: none;
            margin-top: 10px;
            resize: none;
        }
    }

    a {
        background: var(--brand-green);
        color: var(--white);
        font-size: 18px;
        font-weight: 400;
        display: inline-block;
        width: 617px;
        margin-top: 20px;
        padding: 18px 0;
        border-radius: 50px;
        transition: 0.5s all ease;

        &:hover {
            background: var(--black-hover);
        }
    }
}


.Updated-news {
    padding-top: 70px;
    text-align: center;

    h2 {
        font-size: 42px;
    }

    p {
        font-size: 18px;
        font-weight: 400;
        padding: 12px;
        width: 70%;
        line-height: 25px;
        margin: auto;
    }

    ul {
        display: flex;
        justify-content: space-between;
        padding-top: 25px;

        li {
            width: calc(33% - 20px);
            text-align: left;
            background: var(--white);
            box-shadow: var(--bloom-box-shadow);
            border-radius: 20px;
            overflow: hidden;

            img {
                width: 100%;
                transition: 0.5s;

                &:hover {
                    transform: scale(1.1);
                }
            }

            .Updated-text {
                padding: 27px;

                .Updated-date {
                    img {
                        width: 20px;
                        vertical-align: top;
                    }

                    span {
                        font-size: 20px;
                        font-weight: 400;
                        padding-left: 20px;
                    }
                }

                h3 {
                    font-size: 24px;
                    padding: 12px 0;
                    transition: 0.5s all ease;

                    &:hover {
                        color: var(--brand-green);
                    }
                }

                p {
                    font-size: 18px;
                    font-weight: 400;
                    margin: 0;
                    padding: 0 0 14px 0;
                    line-height: 22px;
                    width: 80%;
                }

                a {
                    color: var(--black);
                    font-size: 18px;
                    font-weight: 400;
                    border-bottom: 1px solid var(--black);
                    padding-bottom: 5px;
                    transition: 0.5s all ease;

                    &:hover {
                        color: var(--brand-green);
                        border-color: var(--brand-green);
                    }
                }
            }
        }
    }
}




.modal {
    position: absolute;
    left: 50%;
    top: 60%;
    transform: translate(-50%, -50%);
    background: var(--white);
    z-index: 99;
    border-radius: 5px;
    width: 900px;
    height: 600px;
    border-radius: 20px;
    display: none;


    .modal-text {
        display: flex;
        justify-content: space-between;

        .modal-left-panel {

            width: 40%;

            img {
                width: 100%;
                height: 583px;
            }
        }

        .modal-right-panel {
            width: 60%;
            padding: 0 80px;

            .account {
                h2 {
                    font-size: 35px;

                }

                p {
                    font-size: 20px;
                    color: var(--gray);
                    padding-top: 10px;
                }

                .input {
                    .name {
                        h4 {
                            font-size: 16px;
                            padding: 20px 0 5px;
                        }

                        input {
                            width: 100%;
                            padding: 10px;
                            outline: none;
                            border: 1px solid var(--gray);
                            border-radius: 5px;
                        }
                    }

                    .email {
                        h4 {
                            font-size: 16px;
                            padding: 20px 0 5px;
                        }

                        input {
                            width: 100%;
                            padding: 10px;
                            outline: none;
                            border: 1px solid var(--gray);
                            border-radius: 5px;
                        }
                    }

                    .passworld {
                        h4 {
                            font-size: 16px;
                            padding: 20px 0 5px;
                        }

                        input {
                            width: 100%;
                            padding: 10px;
                            outline: none;
                            border: 1px solid var(--gray);
                            border-radius: 5px;
                        }
                    }

                    .login {

                        margin-top: 40px;

                        a {
                            background: var(--blue);
                            padding: 15px 30px;
                            border: 1px solid var(--blue);
                            border-radius: 50px;
                            color: var(--white);
                            display: inline-block;
                            text-align: center;
                            width: 100%;
                            font-size: 16px;
                        }

                    }

                    .creat-account {
                        margin-top: 30px;
                        color: var(--gray);
                        font-size: 20px;
                    }
                }
            }

        }
    }


}

.no-scroll {
    overflow: hidden;
}

.modal-sinup-overlay {
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
    transition: opacity .5s;
    z-index: 9;
    display: none;
}